<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles">
    <app-big-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNaLFFSdD4YhW8mqgDBSWY8nHnte6ANHQWz6Lsl37yA&s"
    cardTitle="Novo Titulo"
    cardDescription="Nova Descrição"
    >
    </app-big-card>
  </div>
  <div class="articles_other">
    <app-small-card
     photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNaLFFSdD4YhW8mqgDBSWY8nHnte6ANHQWz6Lsl37yA&s"
     cardTitle="Novo lançamento"
    >
  </app-small-card>
  <app-small-card
     photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNaLFFSdD4YhW8mqgDBSWY8nHnte6ANHQWz6Lsl37yA&s"
     cardTitle="Novo lançamento"
    >
  </app-small-card>
  <app-small-card
     photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoNaLFFSdD4YhW8mqgDBSWY8nHnte6ANHQWz6Lsl37yA&s"
     cardTitle="Novo lançamento"
    >
  </app-small-card>

  </div>
</div>
