/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dbd8d8;
  color: #1d1c1c;
  text-decoration: none;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
  height: 100%;
}
